runpod
fastapi
uvicorn[standard]
python-multipart
pydantic
requests
yt-dlp
edge-tts
faster-whisper
openai-whisper
numpy
soundfile
scipy
pydub
transformers
accelerate
huggingface_hub[cli]
sacremoses
protobuf
catt-tashkeel
safetensors
