runpod
fastapi
uvicorn[standard]
python-multipart
pydantic
requests
yt-dlp
edge-tts
faster-whisper
openai-whisper
numpy
soundfile
scipy
pydub
transformers
sentencepiece
accelerate
huggingface_hub
sacremoses
protobuf
catt-tashkeel
safetensors
omnivoice
